a, a:visited, a:active {
  color: #8dccd3;
}

.container {
  width: 87%;
  margin-left: 5%;
  margin-right: 8%; 
  /* larger right margin to allow more space for tooltip */
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #333333;
  color: #fff;
  pointer-events: none;
}

.button:hover {
  background:#333333;
}

#bubble-chart {
  width: 100%;
  height: 340px;
  clear: both;
  margin-bottom: 0px;
}

#toolbar {
  margin-top: 30px;
  margin-bottom: 15px;
  opacity: 0;
}

.year {
  font-size: 23px;
  fill: #333333;
  font-weight: bold;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: #333333;
	padding: 10px;
	max-width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip span {
  font-family: PT Sans;
}

.tooltip .value {
  font-weight:bold;
}

.tooltip .name {
  font-weight:normal;
}

.footer {
  text-align: left;
  vertical-align: top;
  height: 80px;
  margin-top: 30px;
}

.footer > div { 
  display: table-cell;
  height: 80px;
  padding-right: 10px;
}

#wri-logo {
  z-index: 9000;
  width: 150px;
  height: 60px;
  background-image:url(wri-logo.png);
  image-rendering: crisp-edges;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

#cb-logo {
  z-index: 9000;
  width: 150px;
  height: 60px;
  background-image:url(cb-logo.png);
  image-rendering: crisp-edges;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

#credit {
  height: 80px;
  width: 50%;
  vertical-align: top;
}

.logo-container > .logo {
  margin-left: auto;
}

p {
  font-family: PT Sans;
}

strong {
  font-family: PT Sans;
  font-weight: bold;
}

h1 {
  font-family: PT Sans Narrow;
  font-weight: normal;
  font-size: 30px;
  color: #333333;
  margin-bottom: 10px;
}

#subtitle {
  font-weight: normal;
  font-size: 16px;
  font-family: PT serif;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 0px;
}

a {
  font-family: PT Sans;
}

li {
  list-style-type: none;
}

#key {
	position: absolute;
	top: 110px;
	right: calc(8% - 20px);
	height: 50px;
	width: 370px;
	z-index: 500;
	border-radius: 6px;
  font-family: PT Sans, arial;
  opacity: 0;
}

#key li {
  display: inline-block;
  padding-right: 15px;
}

.circle {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 5px;
}

#circle-1 {
  background: #ade2ea;

}

#circle-2 {

  background: #A0A0A0;

}

#circle-3 {

  background: #424242;

}

/* make responsive */

/* larger margins above a certain width */

@media (min-width: 1800px) {
  #bubble-chart {
    height: 400px;
  }
  #step-chart {
    height: 340px;
  }
}

@media (min-width: 1700px) {
  .container {
    width: 60%;
    margin-left: 18%;
    margin-right: 22%; 
    /* larger right margin to allow more space for tooltip */
  }

  #key {
    right: calc(22% - 20px);    
  }

  #subtitle {
    font-size: 19px;
  }

  #step-chart {
    height: 300px;
  }

  #bubble-chart {
    height: 370px;
  }
}

@media (min-width: 1600px) and (max-width: 1700px) {
  .container {
    width: 65%;
    margin-left: 14%;
    margin-right: 16%; 
    /* larger right margin to allow more space for tooltip */
  }
  #key {
    right: calc(16% - 20px);    
  }

  #subtitle {
    font-size: 18px;
  }

  #step-chart {
    height: 290px;
  }

  #bubble-chart {
    height: 350px;
  }
}

@media (max-width:1600px) and (min-width: 1200px) {
  .container {
    width: 75%;
    margin-left: 11%;
    margin-right: 14%; 
    /* larger right margin to allow more space for tooltip */
  }
  #key {
    right: calc(14% - 20px);    
  }
  #subtitle {
    font-size: 17px;
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  #step-chart {
    height: 280px;
  }
}

@media (max-width: 1600px) {
  #bubble-chart {
    height: 340px;
  }

}

@media (max-width: 1500px) {
  #bubble-chart {
    height: 330px;
  }

}

@media (max-width: 1400px) {
  #bubble-chart {
    height: 320px;
  }

}

@media (max-width: 1300px) {
  #bubble-chart {
    height: 300px;
  }
  #step-chart {
    height: 250px;
  }
}

@media (max-width:1200px) and (min-width: 850px) {
  .container {
    width: 80%;
    margin-left: 8%;
    margin-right: 12%; 
    /* larger right margin to allow more space for tooltip */
  }
  #key {
    right: calc(12% - 20px);    
  }
}

@media (max-width: 1200px) {
  #bubble-chart {
    height: 280px;
  }
  #step-chart {
    height: 230px;
  }
}

@media (max-width: 1100px) {
  #bubble-chart {
    height: 260px;
  }
  #step-chart {
    height: 220px;
  }
}

@media (max-width: 1000px) {
  #bubble-chart {
    height: 240px;
  }
  #step-chart {
    height: 180px;
  }
}

@media (max-width: 920px) {
  #key {
    top: 145px;
  }
}

@media (max-width: 850px) {
  #bubble-chart {
    height: 210px;
  }
  #step-chart {
    height: 150px;
  }
  #credit p {
    font-size: 11.5px;
  }
  li {
    font-size: 12px;
  }
  .circle {
    width: 9px;
    height: 9px;
  }
  h1 {
    font-size: 25px;
  }
  
  .footer {
    margin-top: 15px;
  }
  .year {
    font-size: 26px;
  }
  .button {
    font-size: 12.5px;
  }
  #key {
    top: 95px;
  }
  #subtitle {
    font-size: 14px;
  }
}

@media (min-width: 640px) and (max-width: 720px) {
  #key {
    top: 125px;
  }
}

@media (max-width: 640px) {
  .footer > div { 
    display: inline-block; 
  }
  #bubble-chart {
    height: 150px;
  }
  #step-chart {
    height: 125px;
  }
  #credit {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
  }
  .footer {
    margin-top: 0px;
  }
  .logo {
    margin-bottom: 5px;
  }
  #key {
    display: none;
  }
  .button {
    font-size: 11.5px;
  }
  .year {
    font-size: 30px;
  }
  h1 {
    font-size: 23px;
  }
}

@media (max-width: 400px) {
  #bubble-chart {
    height: 110px;
  }
  #step-chart {
    height: 80px;
  }
}
